.vs
LinkWomen.Data/bin
LinkWomen.Data/obj
LinkWomen.Data/connectionStrings.json

LinkWomen.Domain/bin
LinkWomen.Domain/obj

LinkWomen.Services/bin
LinkWomen.Services/obj

LinkWomen.WebAPI/bin
LinkWomen.WebAPI/obj
LinkWomen.WebAPI/Properties/PublishProfiles
LinkWomen.WebAPI/LinkWomen.WebAPI.csproj.user
